@import "common";

:host {
  .block;
  .margin0a;
  width: 20em;
  font-size: 1.4em;

  label {
    .flex;
    margin: 0.8em;
    align-items: center;

    input {
      .block;
      width: 12.5em;
      height: 1em;
      padding: 0.2em;
      border: none;
      border-bottom: 1px solid @GREY_A;
      border-radius: none;
      margin-left: auto;
      font-size: 1em;
    }
  }

  .submit {
    .block;
    .pointer;
    margin: 1em auto 0 auto;
    color: @WHITE;
    outline: none;
    border: none;
    padding: 0.3em 2.4em;
    font-size: 0.8em;
    background-color: @GREEN_A;
    transition: background-color 0.2s ease;

    &:active {
      background-color: @GREEN_B;
    }
  }
}
