@import "common";

:host {
  .block;
  .margin0a;
  width: 20em;
  font-size: 1.4em;

  label {
    .flex;
    margin: 0.8em;
    align-items: center;

    input {
      .block;
      width: 21em;
      height: 1em;
      padding: 0.5em;
      border: 1px solid @GREY_A;
      border-radius: none;
      margin-left: auto;
    }
  }

  .submit {
    .block;
    .pointer;
    margin: 1em auto 0 auto;
    color: @WHITE;
    outline: none;
    border: 1px solid @GREY_A;
    padding: 0.4em 2.4em;
    font-size: 0.8em;

    &.login {
      background-color: @GREEN_A;
    }
  }
}
