// --------- VARIABLES ---------//

//COLORS

@WHITE: #ffffff;
@BLACK: #000000;
@GREY_A: #aaaaaa;

//-----------------------------//

.relative {
  position: relative;
}

.block {
  display: block;
}
