// --------- VARIABLES ---------//

//COLORS

@WHITE: #ffffff;
@BLACK: #000000;
@GREY_A: #aaaaaa;
@GREEN_A: #15b600;

//-----------------------------//

//  B
.block {
  display: block;
}

//  R
.relative {
  position: relative;
}

//  P
.pointer {
  &:hover {
    cursor: pointer;
  }
}
