/* You can add global styles to this file, and also import other style files */

@import "common";
@import "fonts";

//        RESET
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

// GLOBAL STYLES

body {
  background-color: @GREY_B;
  font-family: SourceSans;
}

.section {
  .relative;
  .block;
}

.section.main {
  .margin0a;
  .flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
  width: fit-content; // ! TODO
  min-height: 200px;
  background-color: @WHITE;
  top: 10em;

  .controls {
    .block;
    .absolute;
    z-index: 10;
    right: 0;
    top: 0;

    .button {
      .inline;
      .pointer;
      padding: 0.2em 1em;
      margin: 0.5em;
      background-color: @WHITE;
      transition: background-color 0.5s ease;

      &:hover {
        color: #ffffff;
        background-color: @ORANGE;
      }
    }
  }
}

.section.main .container {
  .absolute;
  left: 0;
  top: 0;
  margin: 0 auto;
  padding: 1em 2em 2em 2em;
  background-color: @WHITE;
  width: fit-content;
  z-index: 1;

  .title {
    .block;
    font-size: 1.5em;
    text-align: center;
  }
}

.section.main .container.active {
  .relative;
  z-index: 2;
}
